#root {
  --colors-primary: rgb(35, 104, 127);
  --colors-primary-dark: rgb(29, 70, 84);
  --colors-secondary: rgb(120, 65, 13);

  --colors-background: #14262f;

  --base-size: 4;
}

body {
  background-color: #14262f;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* lets just use css variables for colors and other variables here 
  -- then create reusable components for buttons, inputs, etc
*/
